# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/

# VS Code
.vscode/

# Flask
instance/

# Environment Variables
.env

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.dbgit status