<!-- ===================================================== -->
<!-- Topbar -->
<!-- ===================================================== -->

<header class="topbar">

    <div class="topbar-left">

<h1 class="page-title">

    {{ page_title or "Dashboard" }}

</h1>

    </div>

    <div class="topbar-right">

        <div class="clock-box">

            <!-- <i class="fa-regular fa-clock"></i> -->

            <span id="currentTime">00:00:00</span>

        </div>

        <div class="live-box">

            <span class="live-dot"></span>

            LIVE

        </div>

    </div>

</header>